/*
Merriweather
Light 300
Regular 400
Bold 700
Black 900
*/


/* ================================= 
  Base Element Styles
==================================== */

*{
    font-family: 'Merriweather', serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
    color: rgb(153, 155, 159);
    font-size: 10pt;
    background-color: rgb(247, 247, 251);
}

body{
  display: block;
  text-align: center;
}

h1 {
  color: white;
  background-color: rgb(44, 54, 82);
}

h2 {
  color:rgb(44, 54, 82);
  padding: .5em 0;
  font-size: 15pt;
}

label {
  color:rgb(153, 155, 159);
  font-size: 10pt;
  font-weight: 300;
}

p {
  color:rgb(153, 155, 159);
  font-weight: 300;
  font-size: 10pt;
  margin-bottom: 1em;
}

hr {
  width: 80%;
  margin: 0 auto;
}

footer {
  padding: 3em;
  margin-bottom: 6em;
  font-style: italic;
}

h3 {
  color:rgb(44, 54, 82);
  padding: .5em 0;
  font-size: 12pt;
}

.legend {
  color: rgb(44, 54, 82);
  padding: 1em 0;
  font-size: 12pt;
  font-weight: 700;
}

fieldset{
  border: none;
}



/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Header ---- */

header {
  width: 100%;
  background-color: rgb(44, 54, 82);
  padding: 1em;
}

.signup-newsletter {
  width: 80%;
  margin: 2em auto;
}

.thick {
  border: 0;
  border-top: 4px solid rgb(44, 54, 82);
  padding-bottom: 2px;
}

.thin {
  border: 0;
  border-top: 2px solid rgb(44, 54, 82);
}


/* ---- Form ---- */

.contact-form {
  text-align: left;
  width: 80%;
  margin: 1em auto;
}

.input {
  position: relative;
  width: 100%;
  height: 50px;
  padding: 10px 0px 10px 20px;
  background-color: rgb(236, 236, 237);
  border: none;
  border-radius: 3px;
  margin: .5em 0;
}

.form-field {
  position: relative;
}

.field-1 span,
.field-2 span {
  position: absolute;
  right: 10px;
  top: 44px;
  color:rgb(153, 155, 159);
  font-size: 12px;
  font-style: italic;
}

input:focus + span {
  display: none;
}

.input:focus {
  outline:none;
  border: 2px solid rgb(44, 54, 82);
  transform: scale(1.05);
  transition-duration: .3s;
}

.field-7 {
  width: 50%;
}

::placeholder{
  position: absolute;
  top: 16px;
  right: 30px;
  overflow: visible;
  font-style: italic;
  font-size: 10pt;
  font-weight: 300;
}

textarea::placeholder{
  position: absolute;
  top: 15px;
  left: 3%;
  overflow: visible;
  font-style: italic;
  font-size: 10pt;
  font-weight: 300;
}



/* ---- Newsletter ---- */

.newsletter {
  width: 80%;
  margin: 1em auto;
  text-align: left;
}

.newsletter-form {
  width: 99%;
  margin: 0 auto;
}

.field-8,
.field-9,
.field-10,
.field-11,
.field-12 {
  padding: .1em;
  vertical-align: middle;
}


.field-8 label,
.field-9 label,
.field-10 label,
.field-11 label,
.field-12 label {
  padding-left: .5em;
  margin: 0;
}

option{
  color: red;
}

.news-field .form-field{
  display: flex;
  align-items: center;
}

.field-13{
  flex-direction: column;
  justify-content: left;
}


.field-13 textarea{
    border: none;
    outline: none;
    background-color: rgb(236, 236, 237);
    border-radius: 3px;
    height: 120px;
    padding: 1em 0 0 1em;
    width:100%;
}

#topics{
  margin-top: 1em;
}

.news-type {
  margin-top: 1em;
}



/* ---- Button ---- */

.button {
  width: 100%;
  height: 60px;
  margin: 1em auto;
  color: white;
  background-color: rgb(26, 174, 147);
  border: 0;
  border-radius: 3px;
  font-size: 12pt;
}





/* ================================= 
  Media Queries
==================================== */

@media (min-width: 768px) {
  .doc-elements{
    width: 50%;
    margin: 0 auto;
  }

  /* ---- Form ---- */

  .contact-form .form-field{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: left;
  }


  .field-1 .input,
  .field-2 .input,
  .field-3 .input,
  .field-4 .input,
  .field-5 .input,
  .field-6 .input{
    flex-basis: 75%;
  }

  .field-7 .input{
    flex-basis: 25%;
    margin-right: 50%;
  }
  
  .form-field label{
    flex-basis: 25%;
  }


  .newsletter-form label {
    margin-left: .5em;
  }


  .field-13 {
    flex-direction: column;
  }

  .field-13-label {
    color:rgb(153, 155, 159);
    font-weight: 300;
    font-size: 10pt;
  }

  #topics{
    margin-top: 1em;
  }


  .news-field{
    margin-bottom: .5em;
  }

  .button{
    margin: 0;
  }
}